.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: center;
    text-align: center;
  
    height: 150px;
    width: 100%;
  
    margin: 0 auto;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%; /* 设置容器高度以确保它填满父容器 */
  }
  