<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-router-outlet></ion-router-outlet>
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/ura-home/taro">
        <ion-icon name="cash-outline"></ion-icon>
        占い
      </ion-tab-button>
      <!-- <ion-tab-button routerLink="/ura-home/constellation">
        <ion-icon name="telescope-outline"></ion-icon>
        星座
      </ion-tab-button> -->
      <ion-tab-button routerLink="/ura-home/main">
        <ion-icon name="home-outline"></ion-icon>
        ホーム
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>