
 <ion-card style="box-shadow: none; border: 1px solid #ccc; border-radius: 10px;height: 50%;">
  <ion-content>
    <h1>Heading 1\angularWorkspace\Ionic\myionicApp> ng g c ura-home-constellation
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.html (41 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.spec.ts (796 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.ts (330 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.scss (0 bytes)
      PS G:\angularWorkspace\Ionic\myionicApp> ng g service api
      CREATE src/app/api.service.spec.ts (342 bytes)\angularWorkspace\Ionic\myionicApp> ng g c ura-home-constellation
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.html (41 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.spec.ts (796 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.ts (330 bytes)
      CREATE src/app/ura-home-constellation/ura-home-constellation.component.scss (0 bytes)
      PS G:\angularWorkspace\Ionic\myionicApp> ng g service api
      CREATE src/app/api.service.spec.ts (342 bytes)</h1>
     45646
  </ion-content>
</ion-card>
