<ion-card>
    <ion-card-header>
        <ion-card-title>占い師ダイジン</ion-card-title>
        <ion-card-subtitle>星の導きで運命を解読する</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-img src="../../assets/img/daijing.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
        </ion-img>
    </ion-card-content>
    <ion-card-content>
        <div class="centered-text">挑戦する心を持ちましょう。</div>
        <div class="centered-text">あなたはいつも同じことの繰り返し</div>
        <div class="centered-text">安全なことの繰り返しの毎日を</div>
        <div class="centered-text">送ってはいませんか？</div>
        <div class="centered-text">今日は同じことを繰り返すのをやめにして</div>
        <div class="centered-text">新しいことに挑戦してみましょう。</div>
        <div class="centered-text">慣れた場所から離れて</div>
        <div class="centered-text">自分が人生に求めているものを</div>
        <div class="centered-text">発見しに行ってみましょう。</div>
        <div class="centered-text">限界をつくらず、踏み出す勇気を</div>
        <div class="centered-text">持つことが大切ですよ。</div>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-button color="rose" expand="block" routerLink="/ura-birthday">次へ</ion-button>
</ion-card>